 .u-section-1 {
  background-image: none;
  min-height: 689px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 689px;
  background-image: url("images/photo-1532033375034-a29004ea9769.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 689px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 0 60px 60px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  align-self: center;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 32px auto 0;
  padding: 16px 46px 17px 44px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 568px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 693px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 373px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 624px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 30px 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 413px;
  object-position: 50% 100%;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 2.2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  font-weight: 700;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-2 .u-image-1 {
    height: 398px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 378px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 330px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1473px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 1198px;
  grid-auto-columns: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/photo-1511377107391-116a9d5d20b5.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/photo-1459257831348-f0cdd359235f.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/photo-1664382951020-41874ae61a44.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0 0;
}

.u-section-3 .u-image-4 {
  background-image: url("images/photo-1554224155-1696413565d3.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-3 .u-group-4 {
  min-height: 113px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 988px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2497px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2216px;
    grid-auto-columns: calc(100% + 0px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2399px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2126px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 783px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 663px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-form-1 {
  margin-bottom: 0;
  margin-top: 20px;
  background-image: none;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-input-2 {
  --radius: 20px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  padding: 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 663px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-4 .u-list-1 {
  width: 452px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 421px;
  grid-auto-columns: 50%;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-4 .u-list-1 {
    width: 403px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 666px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 530px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 330px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 321px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --radius: 50px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 7px;
}

.u-section-5 .u-text-2 {
  margin: 9px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-2 {
  --radius: 50px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 7px;
}

.u-section-5 .u-text-4 {
  margin: 9px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-3 {
  --radius: 50px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-3 {
  height: 33px;
  width: 33px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 7px;
}

.u-section-5 .u-text-6 {
  margin: 9px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 768px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 586px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 446px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  font-weight: 700;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px 44px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 446px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 348px;
  grid-auto-columns: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 47px;
}

.u-section-6 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: -43px 229px 0 0;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 24px 0 0 47px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 47px;
}

.u-section-6 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: -43px 229px 0 0;
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 24px 0 0 47px;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 47px;
}

.u-section-6 .u-icon-3 {
  width: 29px;
  height: 29px;
  margin: -43px 229px 0 0;
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 24px 0 0 47px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 47px;
}

.u-section-6 .u-icon-4 {
  width: 29px;
  height: 29px;
  margin: -43px 229px 0 0;
  padding: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 24px 0 0 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 283px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-right: 183px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 20px;
    margin-right: 183px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 20px;
    margin-right: 183px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 20px;
    margin-right: 183px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-7 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-9 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 795px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-7 .u-blog-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 565px 565px;
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 403px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 297px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-metadata-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  margin: 30px auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 297px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-metadata-2 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-2 {
  margin: 30px auto 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 297px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-metadata-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-3 {
  margin: 30px auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 297px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/8ad73f3c.jpeg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-7 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-metadata-4 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-4 {
  margin: 30px auto 0 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-7 .u-image-1 {
    height: 228px;
  }

  .u-section-7 .u-image-2 {
    height: 228px;
  }

  .u-section-7 .u-image-3 {
    height: 228px;
  }

  .u-section-7 .u-image-4 {
    height: 228px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 513px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 383px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 383px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-8 .u-accordion-1 {
  width: 636px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-8 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-8 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-8 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-8 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-8 .u-accordion-1 {
    width: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-accordion-1 {
    width: 647px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-accordion-1 {
    width: 530px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-accordion-1 {
    width: 330px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 1207px;
}

.u-section-9 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 552px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 90px 30px 30px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  width: 851px;
  margin: 30px auto 0;
}

.u-section-9 .u-gallery-1 {
  height: 728px;
  width: 1140px;
  grid-gap: 17px;
  margin: -254px auto 0;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  margin: 50px auto -15px;
  padding: 20px 61px 20px 60px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 1078px;
  }

  .u-section-9 .u-gallery-1 {
    width: 940px;
    height: 599px;
  }

  .u-section-9 .u-btn-1 {
    border-style: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 1529px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-text-2 {
    width: 660px;
  }

  .u-section-9 .u-gallery-1 {
    width: 720px;
    height: 1050px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 3686px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-9 .u-text-2 {
    width: 520px;
  }

  .u-section-9 .u-gallery-1 {
    width: 540px;
    height: 3207px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 2530px;
  }

  .u-section-9 .u-group-1 {
    width: 440px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-9 .u-text-2 {
    width: 320px;
  }

  .u-section-9 .u-gallery-1 {
    width: 340px;
    margin-top: -224px;
    height: 2051px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 103px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1111px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 700px;
  grid-gap: 30px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/photo-1468779036391-52341f60b55d.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-1 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-10 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-10 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-10 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px 0 0;
}

.u-section-10 .u-icon-1 {
  height: 100%;
}

.u-section-10 .u-icon-2 {
  height: 100%;
}

.u-section-10 .u-icon-3 {
  height: 100%;
}

.u-section-10 .u-list-item-2 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/photo-1454165804606-c3d57bc86b40.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-2 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-10 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-10 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-10 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px 0 0;
}

.u-section-10 .u-icon-4 {
  height: 100%;
}

.u-section-10 .u-icon-5 {
  height: 100%;
}

.u-section-10 .u-icon-6 {
  height: 100%;
}

.u-section-10 .u-list-item-3 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  width: 186px;
  height: 186px;
  background-image: url("images/photo-1554224154-22dec7ec8818.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-3 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-10 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: "Baloo Tamma 2";
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-10 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px 0 0;
}

.u-section-10 .u-icon-7 {
  height: 100%;
}

.u-section-10 .u-icon-8 {
  height: 100%;
}

.u-section-10 .u-icon-9 {
  height: 100%;
}

.u-section-10 .u-list-item-4 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  width: 186px;
  height: 186px;
  background-image: url("images/photo-1562240020-ce31ccb0fa7d.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-4 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-10 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-10 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: "Baloo Tamma 2";
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-10 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px 0 0;
}

.u-section-10 .u-icon-10 {
  height: 100%;
}

.u-section-10 .u-icon-11 {
  height: 100%;
}

.u-section-10 .u-icon-12 {
  height: 100%;
}

.u-section-10 .u-text-10 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  font-weight: 700;
  margin: 40px auto 60px;
  padding: 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    min-height: 802px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 32px;
  }

  .u-section-10 .u-group-1 {
    width: 182px;
    min-height: 326px;
    margin-left: 211px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 32px;
  }

  .u-section-10 .u-group-2 {
    width: 182px;
    min-height: 326px;
    margin-left: 211px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 32px;
  }

  .u-section-10 .u-group-3 {
    width: 182px;
    min-height: 326px;
    margin-left: 211px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-right: 32px;
  }

  .u-section-10 .u-group-4 {
    width: 182px;
    min-height: 326px;
    margin-left: 211px;
  }

  .u-section-10 .u-btn-2 {
    --radius: 50px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-10 .u-group-1 {
    width: 439px;
    min-height: 261px;
    margin-left: 221px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-10 .u-group-2 {
    width: 439px;
    min-height: 261px;
    margin-left: 221px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-10 .u-group-3 {
    width: 439px;
    min-height: 261px;
    margin-left: 221px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-10 .u-group-4 {
    width: 439px;
    min-height: 261px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    min-height: 199px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-group-2 {
    min-height: 199px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-group-3 {
    min-height: 199px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-group-4 {
    min-height: 199px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  background-image: none;
  min-height: 842px;
}

.u-section-11 .u-image-1 {
  height: 675px;
  margin-top: 1px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 50% 48.67%;
}

.u-section-11 .u-group-1 {
  min-height: 411px;
  width: 596px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  margin: -245px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-11 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  align-self: center;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
  padding: 16px 46px 17px 44px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-image-1 {
    object-position: 88.1% 48.67%;
  }

  .u-section-11 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 787px;
  }

  .u-section-11 .u-group-1 {
    min-height: 356px;
    width: 460px;
    margin-bottom: 1px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 681px;
  }

  .u-section-11 .u-image-1 {
    height: 493px;
  }

  .u-section-11 .u-group-1 {
    min-height: 306px;
    width: 340px;
    margin-top: -120px;
    margin-left: auto;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 401px;
}

.u-section-12 .u-group-1 {
  min-height: 260px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  font-size: 2.75rem;
  margin: 43px 520px 0 0;
}

.u-section-12 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  margin: -79px 0 0 auto;
  padding: 15px 69px 16px 67px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-12 .u-group-1 {
    height: auto;
  }

  .u-section-12 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 296px;
  }

  .u-section-12 .u-btn-1 {
    --radius: 50px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 800px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 680px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-13 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-2 {
  margin: 21px 178px 0 0;
}

.u-section-13 .u-group-1 {
  min-height: 175px;
  height: auto;
  width: 412px;
  margin: 20px 128px 0 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-13 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-13 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 526px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-13 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-13 .u-form-1 {
  margin-bottom: 0;
  margin-top: 20px;
  background-image: none;
}

.u-section-13 .u-form-group-2 {
  margin-left: 0;
}

.u-section-13 .u-input-2 {
  --radius: 20px;
}

.u-section-13 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-13 .u-group-1 {
    margin-right: 28px;
    height: auto;
  }

  .u-section-13 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 434px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
  }

  .u-section-13 .u-group-1 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 0;
  }

  .u-section-13 .u-group-1 {
    width: 449px;
    margin-right: 71px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-13 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }
}